@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    display: flex;
    background: #ffebeb;
}

/* nav bar */
.main-container {
    position: relative;
    background: transparent;
    width: 100%;
    padding: 0rem 16rem;
}

/* alert */
.error-alert {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    color: #ffffff;
    background: #ff5b00;
    border: 1px solid #ff5b00;
    border-radius: 10px;
}

.header img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
}

.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
}

.header-title {
    color: #004AAD;
}

/* crad container */

.card-container{
    padding: 0px 30px 0px;
    margin-top: 20px;
    background: #fff;
    padding: 20px 60px 20px;
    border-radius: 10px;
}

.title {
    font-size: 20px;
    font-weight: 200;
}

.card-container{
    margin-top: 20px;
    background: #fff;
    padding: 20px 60px 20px;
    border-radius: 10px;
    }
    
    .input--container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
    }

    .input--container--br {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .input-Bx{
        margin: 20px 0px 20px 0px;
    }
    
    textarea {
        margin-top: 5px;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 3px;
        transition: all 0.2s ease;
    }

    textarea:focus{
        border-color: rgba(3, 102, 214, 0.7);
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
    }

    .input-Bx input {
        margin-top: 5px;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 3px;
        transition: all 0.2s ease;
    }

    .input-Bx.error input:focus {
        border-color: rgba(3, 102, 214, 0.7);
        box-shadow: rgba(255, 74, 71, 0.3) 0px 0px 0px 2px;
    }

    .input-Bx.error input {
        border-color: rgba(255, 74, 71, 0.7);
    }

    .input-Bx .error {
        color: rgba(255, 74, 71, 1);
    }

    .input-Bx.success input:focus {
        border-color: rgba(3, 102, 214, 0.7);
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
    }

    .input-Bx input[readonly] {
       background: rgba(0, 0, 0, 0.1);
    }

    .input-Bx input:focus{
        border-color: rgba(3, 102, 214, 0.7);
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
    }

    .input-Bx select {
        margin-top: 5px;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px;
        border-radius: 3px;
        transition: all 0.2s ease;
    }

    .input-Bx select:focus{
        border-color: rgba(3, 102, 214, 0.7);
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
    }

    hr {
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin: 40px 20px 40px 20px;
    }

    .list-active {
        display: flex;
    }

    .list-province {
        margin-top: 5px;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .list-province a {
        margin-top: 5px;
    }

    .list-province a:hover{
        background: rgba(0, 0, 0, 0.2);
    }

    .list-amphures {
        margin-top: 5px;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .list-amphures a {
        margin-top: 5px;
    }

    .list-amphures a:hover{
        background: rgba(0, 0, 0, 0.2);
    }

    .submit-btn input {
        padding: 15px 50px 15px;
        border-radius: 5px;
        color: #fff;
        background: #004AAD;
    }

    .submit-btn input:hover {
        background: #004aaa;
    }


